@define-color foreground #cdd6f4;
@define-color background #1a1b26;

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

/* #workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
} */

#bluetooth,
#network,
#pulseaudio,
#cpu,
#memory,
#temperature,
#battery,
#clock {
  min-width: 12px;
  margin: 0 8px;
}

tooltip {
  padding: 2px;
}
